
GCC_R_Training.Rproj
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/51713EB2/saved_source_markers
.Rproj.user/51713EB2/rmd-outputs
.Rproj.user/51713EB2/pcs/workbench-pane.pper
*.pper
.Rhistory
